
table tr:not(:last-child){
    border-bottom: 1px solid #E4E7EC;
}
table tr:first-child {
    border-top: 1px solid #E4E7EC ;
}

table th {
  padding-left: 24px;
  padding-block: 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #2E2E2E;
}

table td{
    padding-left: 24px;
  padding-block: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #667085;
    
}
